* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #010615;
}

.box {
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #060c21;
  margin: 40px;
  position: relative;
}

.box::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
}

.box::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  z-index: -2;
  filter: blur(40px);
}

.box:nth-child(1)::before,
.box:nth-child(1)::after {
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.box:nth-child(2)::before,
.box:nth-child(2)::after {
  background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.box:nth-child(3)::before,
.box:nth-child(3)::after {
  background: linear-gradient(235deg, #772aff, #010615, #2196f3);
}

.glass {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.content {
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

.content__title {
  margin-bottom: 25px;
}
